body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title-space {
    height: 50px;
    width: 100%;
}

header {
    display: flex;
    float: right;
    align-items: center;
    padding-top: 3px;
    padding-right: 10px;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

.title {
    margin: 10px 8px 10px 10px;
}

.gb_Ve {
    width: 24px;
    color: #5f6368;
    fill: currentColor;
}

#profile {
    width: 34px;
    height: 33px;
    border-radius: 50%;
}
.material-icons.dot{
    width: 7px;
    font-size: 27px;
}

#headert1 {
    padding-right: 5px;
}

#headert2 {
    padding-right: 9px;
}

#search {
    font-size: 20px;
    color: #9aa0a6;
    margin: 0px 15px;
}

.goxjub {
    width: 30px;
    margin: 0px 15px;
}

#main {
    display: block;
    
    width: 100%;
    max-width: 700px;

    margin: 0 auto;
}

#flex-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    height: 50vh;
}

#spaceholder {
    height: 100%;
    min-height: 0px;
    max-height: 208px;
}

#logo {
    width: 272px;
    align-self: center;
    padding-bottom: 26px;
}

#searchbar {
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    min-height: 46px;
    display: flex;
    align-items: center;
    align-content: space-between;
    width: 100%;
    max-width: 584px;
    margin: 0px auto;
}

#searchbar > input, 
#searchbar > input:active, 
#searchbar > input:focus {
    border: none;
    outline: none;
}

#textfield {
    font-size: 16px;
    width: 100%;
}

#belowsearch {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin: 29px 0px;
}
.searchbox {
    border-radius: 4px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    line-height: 35px;
    padding: 0px 16px;
    color: #3c4043;
    white-space: nowrap;
}
